.App{
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, calc(3 / 3));
    grid-template-areas:"main"
                        "main"
                        "footer";
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.main-container{
    grid-area: main;
}

.footerCmp{
    grid-area: footer;
    align-self: flex-end;
    justify-self: flex-end;
}